---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    openmcp.cloud/cluster: platform
  name: gardeneripamconfigs.gardener-ipam.openmcp.cloud
spec:
  group: gardener-ipam.openmcp.cloud
  names:
    kind: GardenerIPAMConfig
    listKind: GardenerIPAMConfigList
    plural: gardeneripamconfigs
    shortNames:
    - gicfg
    - gipamcfg
    singular: gardeneripamconfig
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GardenerIPAMConfig is the Schema for the DNS PlatformService
          configuration API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GardenerIPAMConfigSpec defines the desired state of GardenerIPAMConfig
            properties:
              parentCIDRs:
                additionalProperties:
                  items:
                    pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}\/(3[0-2]|(1|2|)[0-9])$
                    type: string
                  type: array
                description: |-
                  ParentCIDRs maps identifiers to a list of CIDRs that are consired the parent networks from which the individual CIDRs are sliced.
                  Note that already assigned CIDRs are not revoked if their parent network is removed from this list.
                type: object
            required:
            - parentCIDRs
            type: object
        type: object
    served: true
    storage: true
