---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    openmcp.cloud/cluster: platform
  name: ipamconfigs.gardener.clusters.openmcp.cloud
spec:
  group: gardener.clusters.openmcp.cloud
  names:
    kind: IPAMConfig
    listKind: IPAMConfigList
    plural: ipamconfigs
    shortNames:
    - gicfg
    - gipamcfg
    singular: ipamconfig
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IPAMConfig is the Schema for the Gardener IPAM PlatformService
          configuration API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: IPAMConfigSpec defines the desired state of IPAMConfig
            properties:
              injectionRules:
                description: InjectionRules defines the rules for injecting CIDRs
                  into Clusters.
                items:
                  description: CIDRInjection specifies injection rules for CIDRs.
                  properties:
                    id:
                      description: |-
                        ID is a unique identifier for this injection rule.
                        This is mainly required to avoid rolling out updates to already processed Clusters:
                        A Cluster will never have a rule with the same ID applied twice.
                        This means that if you modify an existing rule, it will only affect Clusters which have not been affected by this rule before.
                        To affect all Clusters matching the selectors, independent of what has been done to them before, you need to create a new rule with a new ID (or rename the existing one).
                      minLength: 1
                      pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                      type: string
                    injections:
                      description: Injections describes a list of CIDR injections.
                      items:
                        properties:
                          id:
                            description: |-
                              ID is an optional identifier for the CIDR.
                              It can be used as value for 'parent' in a subsequent injection belonging to the same rule (the order of injections is important here).
                            type: string
                          parents:
                            description: |-
                              Parents is a list of identifiers from the parent CIDR mapping that are allowed to be the parent of this CIDR.
                              The list will be traversed in order, and the first parent CIDR with available capacity will be used as parent for this CIDR.
                              If this list is empty, all parent CIDRs defined in the config are allowed parents for this CIDR. They will be traversed in an undefined order.
                              Child CIDRs from the same list of injections (within the same CIDRInjection struct) that have been generated before can also be used here, if they have an ID assigned. They are not included if this value is empty.
                            items:
                              type: string
                            type: array
                          path:
                            description: |-
                              Path is the JSONPath expression on where to inject the CIDR.
                              This must either be a valid JSONPatch path expression or a JSONPath-like expression pointing to a single string field in the Cluster spec where the CIDR should be injected.
                              See https://github.com/openmcp-project/controller-utils/blob/main/docs/libs/jsonpatch.md#path-notation for details on the supported path notation.
                            minLength: 1
                            type: string
                          subnetSize:
                            description: |-
                              SubnetSize is the desired size of the generated CIDR.
                              This is the part that will come after the '/'.
                              This value actually refers to the prefix bitmask length, so bigger numbers will result in smaller IP ranges.
                              The highest allowed value is 32, which will result in a range containing only a single IP address (the one before the '/').
                              Note that the size of child CIDRs needs to be smaller (= bigger number here) than the size of its parent CIDR.
                            maximum: 32
                            minimum: 0
                            type: integer
                        required:
                        - path
                        - subnetSize
                        type: object
                      type: array
                    matchExpressions:
                      description: matchExpressions is a list of label selector requirements.
                        The requirements are ANDed.
                      items:
                        description: |-
                          A label selector requirement is a selector that contains values, a key, and an operator that
                          relates the key and values.
                        properties:
                          key:
                            description: key is the label key that the selector applies
                              to.
                            type: string
                          operator:
                            description: |-
                              operator represents a key's relationship to a set of values.
                              Valid operators are In, NotIn, Exists and DoesNotExist.
                            type: string
                          values:
                            description: |-
                              values is an array of string values. If the operator is In or NotIn,
                              the values array must be non-empty. If the operator is Exists or DoesNotExist,
                              the values array must be empty. This array is replaced during a strategic
                              merge patch.
                            items:
                              type: string
                            type: array
                            x-kubernetes-list-type: atomic
                        required:
                        - key
                        - operator
                        type: object
                      type: array
                      x-kubernetes-list-type: atomic
                    matchIdentities:
                      description: |-
                        MatchIdentities contains a list of object references and matches only the objects with the given identities.
                        If this selector is nil, all objects match.
                        If this selector is not nil, but the list is empty, no objects match.
                        If not nil, all other selector fields are ignored and only the identities are matched.
                      items:
                        description: ObjectReference is a reference to an object in
                          any namespace.
                        properties:
                          name:
                            description: Name is the name of the object.
                            type: string
                          namespace:
                            description: Namespace is the namespace of the object.
                            type: string
                        required:
                        - name
                        - namespace
                        type: object
                      type: array
                      x-kubernetes-list-type: atomic
                    matchLabels:
                      additionalProperties:
                        type: string
                      description: |-
                        matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                        map is equivalent to an element of matchExpressions, whose key field is "key", the
                        operator is "In", and the values array contains only "value". The requirements are ANDed.
                      type: object
                    matchPurposes:
                      description: |-
                        MatchPurposes contains a list of purpose selector requirements.
                        An empty or nil list matches all objects.
                        Duplicate purposes within a single requirement are ignored.
                        The requirements are ANDed.
                      items:
                        description: |-
                          A label selector requirement is a selector that contains values, a key, and an operator that
                          relates the key and values.
                        properties:
                          operator:
                            description: |-
                              Operator represents how the list of purposes is matched against the values.
                              Valid operators are: 'ContainsAll', 'ContainsAny', 'ContainsNone', 'Equals'.
                            type: string
                          values:
                            description: |-
                              Values is an array of string values.
                              An empty or nil array will match no objects for 'ContainsAll' and 'ContainsAny',
                              all objects for 'ContainsNone', and only objects with no purposes for 'Equals'.
                              This array is replaced during a strategic merge patch.
                            items:
                              type: string
                            type: array
                            x-kubernetes-list-type: atomic
                        required:
                        - operator
                        type: object
                      type: array
                      x-kubernetes-list-type: atomic
                  required:
                  - id
                  - injections
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              parentCIDRs:
                additionalProperties:
                  items:
                    pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}\/(3[0-2]|(1|2|)[0-9])$
                    type: string
                  type: array
                description: |-
                  ParentCIDRs maps identifiers to a list of CIDRs that are consired the parent networks from which the individual CIDRs are sliced.
                  Note that already assigned CIDRs are not revoked if their parent network is removed from this list.
                type: object
            required:
            - parentCIDRs
            type: object
        type: object
    served: true
    storage: true
